@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
header {
    height: 12vh;
}


@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-moz-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }

    to {
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

.twinkling {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    -moz-animation: move-background 70s linear infinite;
    -ms-animation: move-background 70s linear infinite;
    -o-animation: move-background 70s linear infinite;
    -webkit-animation: move-background 70s linear infinite;
    animation: move-background 70s linear infinite;

}

.clouds {
    width: 10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;

    -moz-animation: move-background 150s linear infinite;
    -ms-animation: move-background 150s linear infinite;
    -o-animation: move-background 150s linear infinite;
    -webkit-animation: move-background 150s linear infinite;
    animation: move-background 150s linear infinite;
}

.background-container img {
    height: 60vh;
    width: 60vh;
    position: relative;
    z-index: 3;
    right: 20px;
    left: 200px;
}
#mountainDropList{
    position: relative;
    z-index: 5;
}
#cardDiv, #elevation, #sunrise, #sunset{
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}
#cardDiv{
    margin-top:10rem;
}

/* Navbar CSS */
html,
body {
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    top: 0;
    left: 0;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 3px;
    background-clip: padding-box;
    border: 1 solid transparent;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

.navbar a {
    text-decoration: none;
    color: rgb(159, 166, 159);
    font-weight: 500;
}

.navbar a:hover {
    color: rgb(136, 210, 233);
}

ul {
    list-style: none;
}

.navbar {
    border-bottom: 1px solid rgba(1, 36, 6, 0.12);
    padding: 3rem 0rem;
    height: 0rem;
    min-height: 12vh;
    position: absolute;
}

.navbar .navbar-brand a {
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.container-fluid .navbar-brand {
    font-family: 'Satisfy', cursive;
    font-size: 2.0rem;
    color: rgb(209, 200, 189);
}

.navbar-toggler {
    background: rgb(209, 200, 189);
    border: none;
    padding: 10px 10px;
    outline: none;
}

.navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
    background-color: rgb(0, 0, 0);
}

.navbar-toggler span+span {
    margin-top: 4px;
    width: 18px;
    margin-left: 4px;
}

.navbar-toggler span+span+span {
    width: 10px;
    margin-left: 10px;
}

@media screen and (max-width:992px) {

    .navbar,
    .navbar .container-fluid,
    .navbar-collapse {
        padding: 0 2rem;
        /*background-image: linear-gradient(to bottom, rgb(0, 0, 0),rgb(128, 128, 128), rgb(255, 255, 255));*/
    }
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 2rem 1rem;
    font-size: 1.10rem;
    position: relative;
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    border-top: 4px solid rgb(136, 210, 233);
}

.navbar-expand-md .navbar-nav .nav-link:active {
    border-top: 4px solid rgb(255, 255, 255);
    color: rgb(161, 8, 8);
}